.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: #ff0000; */
}

h1 {
    color: #f5f5f5;
    font-size: 2.5rem;
    /* margin-bottom: 1rem; */
}

.input-group {
 position: relative;
 padding-bottom: 0.8rem;
}

.input {
 border: solid 1.5px #9e9e9e;
 width: 12.2rem;
 border-radius: 1rem;
 background: none;
 padding: 1rem;
 font-size: 1rem;
 color: #f5f5f5;
 transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.user-label {
 position: absolute;
 left: 15px;
 color: #e8e8e8;
 pointer-events: none;
 transform: translateY(1rem);
 transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus, .input:valid {
  outline: none;
  border: 1.5px solid #1a73e8;
}

.input:focus ~ .user-label, .input:valid ~ .user-label {
  transform: translateY(-50%) scale(0.8);
  background-color: #212121;
  padding: 0 .2em;
  color: #2196f3;
}


button {
 border: solid 1.5px #387cd4;
 width: 14.3rem;
 border-radius: 1rem;
 background: #1a73e8;
 padding: 1rem;
 font-size: 1rem;
 color: #f5f5f5;
}

button:hover {
 background: #1869d3;
 border: 1.5px solid #1a73e8;
 color: #f5f5f5;
 transition: transform 100ms cubic-bezier(0.4,0,0.2,1), background 150ms cubic-bezier(0.4,0,0.2,1), border 150ms cubic-bezier(0.4,0,0.2,1);
}

button:active {
 background: #1869d3;
 border: 1.5px solid #1869d3;
 color: #f5f5f5;
 transform: scale(0.98);
 transition: transform 100ms cubic-bezier(0.4,0,0.2,1);
}

